<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnimalDBNotifier.Properties.Settings.aspnet_AnimalDB_20150205100020ConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Hadyn\Source\AnimalDB\AnimalDB\App_Data\aspnet-AnimalDB-20150205100020.mdf;Initial Catalog=aspnet-AnimalDB-20150205100020;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings file="Secrets.config">
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
