@model AnimalDB.Repo.Entities.AnimalManipulationReport

<h3>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
</h3>


<h2>Delete</h2>

<h3>Are you sure you want to delete this Animal Manipulation Report?</h3>
<div>
    <hr />
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn  btn-danger" />
        </div>
    }
</div>
