<hr />

<h3>
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary" })
</h3>

<div class="row">
    <embed src="~/Content/laa.pdf" class="offset-md-1 col-md-10" height="842" />
</div>
<hr />