<form method="post" class="findanimal" autocomplete="off">
    <div>
        <h1>Select an animal</h1>
        <input id="animalname" class="form-control" placeholder="Start typing..." />
        <div id="results"></div>
    </div>
</form>

<footer>
    <h4>
        Laboratory Animal Allergy Information
        @Html.ActionLink("Find out more >>", "AllergyInfo", null, new { @class = "btn btn-outline-dark" })
    </h4>
</footer>


@section scripts {
    @Scripts.Render("~/Scripts/autocomplete.js")
    <script type="text/javascript">
        autocomplete('@Url.Action("Animals")', document.getElementById('animalname'), document.getElementById('results'));
        $("#animalname").focus();
    </script>
}